---

- name: Backup NXOS configuration.
  cisco.nxos.nxos_config:
    backup: true
    backup_options:
      filename: "{{ inventory_hostname }}.nxos"
      dir_path: "{{ tmp_backup_dir }}"

- name: Remove timestamp line from NXOS configuration files, otherwise every backup appears changed.
  ansible.builtin.lineinfile:
    path: "{{ tmp_backup_dir }}/{{ inventory_hostname }}.nxos"
    regexp: '^!Time:.*\n'
    state: absent
  delegate_to: localhost
